/* header */
.iconMenu>img {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #323232;
    width: 40%;
    transform: translateX(100%);
}

.nav__mobile>#navUl__mobile {
    list-style: none;
    margin-top: 40px;
}

.nav__mobile>#navUl__mobile>li {
    margin-top: 20px;
    padding-left: 10px;
}

.nav__mobile>#navUl__mobile>li:hover {
    background-color: #ffff;
}

.nav__mobile>#navUl__mobile a {
    text-decoration: none;
    color: #bab6af;
    font-size: 19px;
}

.iconMultiply {
    position: absolute;
    top: 10px;
    right: 10px;
}

.iconMultiply>img {
    width: 28px;
    height: 28px;
}

.nav__input {
    display: none;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    transition: .5s;
}

/* infor */

@media (max-width:1263px) {

    /* header */
    .nav {
        display: none;
    }

    .iconMenu>img {
        display: block;
    }

    .logo {
        padding-left: 10px
    }

    .mainContentText {
        width: 100%;
        padding-left: 10px;
    }

    .gallery {
        display: block;
    }

    .gallery__column {
        width: 100%;
    }

    /* infor */
    .mainContentMedia,
    .mainContentContact,
    .mainContentAbout {
        width: 100%;
        padding-left: 10px;
    }

    /* project */
    .categoryItem {
        display: block;
    }

    .categoryItemImage {
        width: 100%;
        overflow: hidden;
    }

    .categoryItemImage img {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .categoryItemText {
        width: 100%;
        margin-left: 5px;
        margin-top: 20px;
    }

    .categoryItemText-1 {
        font-size: 28px;
    }

    .categoryItemText-2 {
        width: 98%;
        padding-top: 15px;
        font-size: 14px;
    }

    .categoryItemBtn>a {
        font-size: 18px;
        
    }
    /* project detail */
    .mainContent .mainContentBanner .mainContentBanner-p {
        position: absolute;
        top: 36%;
        left: 38%;
    }
    
    .mainContentBanner .mainContentBanner-p>p {
        font-size: 50px;
        color: #fcfcfc;
    }
}